.btnMain{
  background: #A20067 !important;
  color: white;
  width: 20%;
}

.btnMain:hover{
  background: #a20067b5 !important;
  color: white;
  width: 20%;
  outline: none !important;
}

.factura{
  background: #9E8CA9 !important;
  height: 60px !important;
}

.bold{
  font-weight: bold;
}
