
.name{
    background: white !important;
}

.body{
    background: #9E8CA9;
}

.btnMain, .btnAprobar{
    background: #A20067 !important;
    color: white;
    width: 20%;
}

.vl {
    border-right: 1px solid black;
    height: 90%;
  }
