@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
*{
    font-family: 'Muli', sans-serif;    
}
.name{
    background: white !important;
}

.body{
    background: #9E8CA9;
}

.btnMain, .btnAprobar{
    background: #A20067 !important;
    color: white;
    width: 20%;
    outline: none !important;
}

.btnMain:hover, .btnAprobar:hover{
    background: #a20067b5 !important;
    color: white;
    width: 20%;
    outline: none !important;
}

.vl {
    border-right: 1px solid black;
    height: 90%;
  }

  .container-details{
      margin: 2% 6%;
  }

 .bold{
     font-weight: bold;
 }