.text-Facturacion {
  display: flex;
  margin-left: 260px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}
.detail-budget{
  margin-left: 200px;
  margin-top: 40px;
}

.pendiente{
  width: 200px;
}

.pagada{
  background-color: chartreuse;
  
}
.MTableHeader-header-39:last-child {
  color: rgba(0, 0, 0, 0)!important;
}